@import 'jeet'
@import 'axis'
@import 'rupture'

normalize-css()

body
  margin: 0px
  padding: 0px
  overflow: hidden

.grid-wrapper
   width: 100vw
   height: 100vh
   display: flex
   flex-direction: row
   flex-wrap: wrap
   justify-content: space-between
   align-items: center
   align-content: center
   item-align: stretch
   

.grid-item
  width: 244px
  display: flex
  flex-base: auto
  align-self: auto
  flex: 1 1 auto